@page "/Quiz"
@inherits QuizCardBase
@using QuizAppWeb.Components
@using Models

<h3>Select a Quiz</h3>
<select value="@selectedQuiz" @onchange="OnQuizSelectionChanged">
    <option value="">Select a quiz...</option>
    @foreach (var quiz in QuizzesList)
    {
        <option value="@quiz">@quiz</option>
    }
</select>

@if (quizStarted)
{
    <div class="container">
        <div class="quiz">
            @if (questionIndex < QuestionsList.Count)
            {
                <div class="app-title">
                    Quizzing!
                </div>

                <div class="quiz-header">
                    @QuestionsList[questionIndex].QuestionText
                </div>

                @if (QuestionsList[questionIndex].QuestionCodeSnippet != string.Empty)
                {
                    <div class="code-container">
                        <code>@QuestionsList[questionIndex].QuestionCodeSnippet</code>
                    </div>
                }

                <div class="quiz-body">
                    @foreach (var option in QuestionsList[questionIndex].QuestionOptions)
                    {
                        <OptionCard Option="@option" OnOptionSelected="OptionSelected"></OptionCard>
                    }
                </div>
            }
            else
            {
                <div class="app-title">
                    @(score > (QuestionsList.Count / 2) ? "Godt gået!" : "Du skal vist øve lidt mere ;)")
                </div>
                <div class="quiz-header">
                    <p>Du fik <b>@(Math.Round(((double)score / QuestionsList.Count) * 100, 2))%</b> korrekt!</p>
                    <p>Du svarede <b>@score ud af @QuestionsList.Count</b> spørgsmål korrekt.</p>
                </div>
                <div class="quiz-footer">
                    <button class="next-btn" @onclick="@RestartQuiz">Quiz igen</button>
                </div>
            }
        </div>
    </div>
}
